<!DOCTYPE html>
<html>

   <head>
      <meta charset="utf-8">
      <title>Sinatra Shopping List</title>
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
      <!-- <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
      <script src="https://maps.googleapis.com/maps/api/js"></script> -->


   </head>
<!-- ******************************************** -->
<!--                  body                        -->
<!-- ******************************************** -->

   <body>

      <header>
         <h1>Sinatra Shopping List</h1>

      </header>

      <!-- SUPER SECRET RUBY METHOD ------>
      <%= yield %>
      <!-- END SUPER SECRET RUBY METHOD -->



<!-- ******************************************** -->
<!--                  end body code               -->
<!-- ******************************************** -->


      <!-- SCRIPTS AFTER BODY LOADS -->
      <!-- JQUERY FIRST SO JS CAN USE IT -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
      <script type="text/javascript" src="/scripts/quizlogic2.js"></script> -->


   </body>
</html>
